/******************/
/* 	MOBILE FIRST  */
/******************/

.BigContainer {
	width: 100%;
    align-items: center;
    text-align: center;
}

.Card {
	display: inline-block;
	/* margin: 14px; */
    align-items: center;
    text-align: center;
	margin-bottom: 30px;
}

.Title {
	display: none;
}

.Img {
    width: 250px;
    height: auto;
}

.DotsContainer {
	display: inline-block;
    align-items: center;
    text-align: center;
}

.Dots {
	/* color: red; */
}

.BigContainer > h3 {
	font-family: Lato;
	font-style: normal;
	font-weight: 600;
	font-size: 24px;
	line-height: 24px;

	margin-top: 8px;
    margin-bottom: 25px;
	align-items: center;
	text-align: center;
	letter-spacing: -0.017em;
	color: #ffffff;
}

.BigContainer > h4 {
	font-family: Lato;
	font-style: normal;
	font-weight: 500;
	font-size: 15px;
	line-height: 20px;

	margin-bottom: 25px;
	align-items: center;
	text-align: center;
	letter-spacing: -0.017em;
	color: #ffffff;
}

.ButtonContainer {
    display: inline-block;
    align-items: center;
    text-align: center;
}

/***********/
/* 	VIEWS  */
/***********/

/* TABLET */

/* @media only screen and (min-width: 768px) and (max-width: 1023px) {
	.CardContainer {
		width: 768px;
	}
	.TiersContainer {
		text-align: center;
	}
	.Standing {
		display: inline-block;
		margin-left: 43px;
		width: 768px;
	}
	.Card {
		display: inline-block;
	}
	.Tiers {
		font-family: Lato;
		font-style: normal;
		font-weight: 800;
		font-size: 42px;
		line-height: 42px;
		display: inline-block;

		margin-top: 35px;
		margin-bottom: 20px;
		align-items: center;
		text-align: center;
		letter-spacing: -0.017em;
		color: #ffffff;
		text-shadow: 1px 1px 2px black;
	}
	.Card > h3 {
		font-weight: 700;
		font-size: 20px;
		line-height: 26px;
	}
}

/* PC */

@media only screen and (min-width: 1024px) {
	.BigContainer {
		width: 1024px;
		align-items: center;
		text-align: center;
	}
	.TitleContainer {
		text-align: center;
	}
	.Title {
		font-family: Lato;
		font-style: normal;
		font-weight: 800;
		font-size: 48px;
		line-height: 48px;
		display: inline-block;

		margin-top: 45px;
		margin-bottom: 50px;
		align-items: center;
		text-align: center;
		letter-spacing: -0.017em;
		color: #ffffff;
		text-shadow: 1px 1px 2px black;
	}
	.Carousel {
		width: 800px;
		align-items: center;
		text-align: center;
		margin: 0 auto;
	}
	.Card {
		display: inline-block;
		margin: 14px;
		margin-bottom: 40px;
	}
	.BigContainer > h3 {
		font-weight: 700;
		font-size: 26px;
		line-height: 26px;
	}
	.Dots {
		display: none;
	}
}